  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">  {{title}}  </a> 
      <span class="user" *ngIf="authService.loginProfile">
        Welcome, {{authService.loginProfile.name}} 
        <img src="{{authService.loginProfile.imageUrl}}">
      </span>
      <a #buttonCollapse href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn">Login</a></li>
        <li><a *ngIf="authService.isLoggedIn" (click)="logout()">Logout</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active" *ngIf="authService.isLoggedIn">Dashboard</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn">Login</a></li>
        <li><a href="#" *ngIf="authService.isLoggedIn" (click)="logout()">Logout</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active" *ngIf="authService.isLoggedIn">Dashboard</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
